<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #pagination {
            margin-top: 20px;
            margin-left: 45%;
        }

        .search {
            margin-bottom: 20px;
        }
        #name{
            text-align: center;
            font-size: 30px;
            margin-top: 50px;
        }
        #task{
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
        #search{
            width: 1000px;
            margin-left: 15%;
        }
    </style>
</head>

<body>
    <p id="name">Diya Patel(24DEV069)</p>
    <p id="task">Fetch Api</p>
    <div class="search">
        <input type="text" name="search" id="search" placeholder="search">
        <button onclick="search()">search</button>
    </div>
    <table border="1">
        <thead>
            <tr>
                <td>UserId</td>
                <td>Id</td>
                <td>Title</td>
                <td>Body</td>
                <td>show details</td>
            </tr>
        </thead>

        <tbody id="data">

        </tbody>

    </table>
    <div id="pagination">

    </div>

    <script>
        let currentpage = 1;
        const itemsperpage = 10;
        let url = 'https://jsonplaceholder.typicode.com/posts';
        let data = [];

        async function fetchdata() {
            const response = await fetch(url);
            data = await response.json();
            showusers();
        }

        function showusers() {
            const startIndex = (currentpage - 1) * itemsperpage;
            const endIndex = startIndex + itemsperpage;
            const newdata = data.slice(startIndex, endIndex);
            if (newdata.length > 0) {
                var temp = "";
                newdata.forEach((userdata) => {
                    temp += "<tr>";
                    temp += "<td >" + userdata.userId + "</td>";
                    temp += "<td >" + userdata.id + "</td>";
                    temp += "<td>" + userdata.title + "</td>";
                    temp += "<td>" + userdata.body + "</td>";
                    temp += "<td>" + `<button onclick='myfun(${userdata.id})'> show details </button>` + "</td>";
                });
                document.getElementById('data').innerHTML = temp;
            }
            pagination();
        }

        function pagination() {
            const totalpages = Math.ceil(data.length / itemsperpage);
            let pagination = document.getElementById('pagination');
            pagination.innerHTML = ``;

            for (let i = 1; i <= totalpages; i++) {
                let button = document.createElement("button");
                button.innerText = i;
                button.addEventListener('click', () => {
                    currentpage = i;
                    showusers();
                });
                pagination.appendChild(button);
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            fetchdata();
        });

        function myfun(id) {
            window.location.href = `/task10/postdetails?id=${id}`;
        }

        function search() {
            let query = parseInt(document.getElementById('search').value);
            let query2 = document.getElementById('search').value;
            for(let i=0; i<data.length; i++){
                if(query === data[i].id){
                    let filtereddata = data.filter((id) => query === id.id);
                    searchdata(filtereddata);
                }
                else if(query ===  data[i].userId){
                    let filtereddata = data.filter((userid) => query === userid.userId);
                    searchdata(filtereddata);
                }
                else if((data[i].title).includes(query2)){
                    let filtereddata = data.filter((title) => (title.title).includes(query2));
                    searchdata(filtereddata);
                }
            }
        }
        
        function searchdata(filtereddata) {
            var temp = "";
            filtereddata.forEach((userdata) => {
            temp += "<tr>";
            temp += "<td >" +  userdata.userId + "</td>";
            temp += "<td >" + userdata.id + "</td>";
            temp += "<td>" + userdata.title + "</td>";
            temp += "<td>" + userdata.body + "</td>";
            temp += "<td>" + `<button onclick='myfun(${userdata.id})'> show details </button>` + "</td>";
            });  
            document.getElementById('data').innerHTML = temp;
        }


    </script>
</body>

</html>