<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #name{
            text-align: center;
            font-size: 30px;
            margin-top: 50px;
        }
        #task{
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
    </style>
    <title>Document</title>
</head>

<body>
    <p id="name">Diya Patel(24DEV069)</p>
    <p id="task">Fetch Api</p>
    <table border="1">
        <thead>
            <tr>
                <td>UserId</td>
                <td>id</td>
                <td>title</td>
                <td>body</td>
                <td>Comments</td>
            </tr>
        </thead>
        <tbody id="data">

        </tbody>
    </table>

    <script>
        const searchparams = new URLSearchParams(window.location.search);
        const id = searchparams.get("id");
        let url = `https://jsonplaceholder.typicode.com/posts/${id}`;

        let data = [];

        async function fetchdata() {
            const response = await fetch(url);
            data = await response.json();
            showusers();
        }

        fetchdata();

        function showusers() {
            console.log(data.id);
            let temp = ""
            temp += "<tr>";
            temp += "<td>" + data.userId + "</td>";
            temp += "<td>" + data.id + "</td>";
            temp += "<td>" + data.title + "</td>";
            temp += "<td>" + data.body + "</td>";
            temp += "<td>" + `<button onclick='myfun(${data.userId})'> show comments </button>` + "</td>";
            document.getElementById('data').innerHTML = temp;
        }

        function myfun(id){
            window.location.href=`/task10/comments?id=${id}`;
        }

    </script>

</body>

</html>