<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/show/:name" method="post">
        <h2>Diya Patel(24DEV069)</h2>
        <label for="state">Country</label> &emsp13;
        <select name="country" id="country" onchange="fetchcities()">
            <% for(var count=0; count <country.length; count++) { %>
                <option value="<%= country[count].country %>">
                    <%= country[count].country %>
                </option>
                <% } %>
        </select>
        <div class="state" id="statecontainer" style="margin-top: 20px;">
            <label for="state">States</label>
            <select name="" id="stateid">
                <option value="">state</option>
            </select>
        </div>
       
    </form>
    <script>
        async function fetchcities(){
            if(document.getElementById("stateid")){
                document.getElementById('stateid').remove();
            }
            let statecontainer = document.getElementById('statecontainer');
            let country = document.getElementById('country').value;
            let data = await fetch(`/task14/show/${country}`,{method:"post"});
            let response = await data.json();
            let stateselect = document.createElement('select');
            stateselect.id = "stateid";
            response.states.forEach((state)=>{
                let stateoptions = document.createElement('option');
                stateoptions.value = state.state;
                stateoptions.textContent = state.state;
                stateselect.appendChild(stateoptions);
                statecontainer.appendChild(stateselect);
            })
        }

    </script>
</body>

</html>