<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        td{
            padding: 10px;
        }
        #name{
            text-align: center;
            font-size: 30px;
            margin-top: 50px;
        }
        #task{
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
        }
        #query{
            margin-top: 40px;
            width: 800px;
        }
        label{
            margin-left: 20%;
        }
    </style>
</head>
<body>
    <p id="name">Diya Patel(24DEV069)</p>
    <p id="task">Delimiter Search</p>
    <form action="/task8/userdata" method="post">
        <label for="auery">Enter query: </label><input type="text" name="query" id="query"  value="<%=query%>">
        <button>Go</button>
        <p style="margin-left: 35%; margin-top: 30px;">example(_Nickie$Nickie.Jenness@gmail.com^Jenness}66:Hanoi{8506490636)</p>
    </form>
    
    <table border="1" style="margin-top: 30px; margin-left: 45%;">
        <tr>
            <td>
                FirstName
            </td>
            <td>_</td>
        </tr>
        <tr>
            <td>LastName</td>
            <td>^</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>$</td>
        </tr>
        <tr>
            <td>Age</td>
            <td>}</td>
        </tr>
        <tr>
            <td>ContactNo</td>
            <td>{</td>
        </tr>
        <tr>
            <td>City</td>
            <td>:</td>
        </tr>
    </table>
    <% if(fields!==false ) { %>
    <table border="1" style="margin-top: 30px; margin-left: 25%;">
        <thead>
            <tr>
                <% for(var k=0;k<fields.length;k++) { %>
                    <td>
                        <%=fields[k].name %>
                    </td>

                <% } %>
            </tr>
        </thead>

        <tbody>
            <% for(var i=0;i<user.length;i++) { %>
                <tr >
                    <% for(var j=0;j<fields.length;j++) { %>    
                    <td><%=user[i][fields[j].name]%></td>
                    <% } %>
                </tr>
                <% } %>
            </tbody>
    </table>
    <% } %>
</body>
</html>