<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>

        .container{
            width: 500px;
            height: 200px;
            margin:0 auto;
        }

        input[type=text],
        input[type=password]{
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: 1px solid grey;
            border-radius: 10px;
        }

        #btn{
            background-color: rgb(58, 58, 170);
            color: white;
            padding: 16px 20px;
            margin: 8px 200px;
            border: none;
            cursor: pointer;
            width: 30%;
            opacity: 0.9;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <p style="text-align: center; margin-top: 200px; font-size: 20px;">Forgot Password?</p>
    <p style="text-align: center; margin-bottom: 40px; line-height: 55px;">Enter the email address or username associated with your account, we'll send you a link to reset your password.</p>
    <form action="/forgotpassword" method="post">
        <div class="container">
            <input type="text" name="name" id="name" placeholder="Enter Your Email or Username">
            <span id="error"></span>
            <input type="submit" value="submit" id="btn">
        </div>
    </form>
    
</body>
</html>