<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container {
            margin: 0 auto;
            height: 400px;
            width: 500px;
        }

        input[type=text],
        input[type=password] {
            width: 94%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: 1px solid grey;
            border-radius: 10px;
        }

        input[type=text]:focus,
        input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }

        #btn {
            background-color: rgb(58, 58, 170);
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 92%;
            opacity: 0.9;
            text-align: center;
        }

        #btn:hover {
            opacity: 1;
        }

        span {
            margin-bottom: 100px;
            color: red;
            font-size: 15px;
        }
        .signup {
            text-align: center;
        }
        .forgotpassword{
            margin-top: -40px;
            text-align: center;
        }
        #hname{
            text-align: center;
            font-size: 30px;
            margin-top: 50px;
        }
        #task{
            text-align: center;
            font-size: 20px;
            margin-top: 50px;
        }
    
    </style>
    <title>Document</title>
</head>
<body>
    <p id="hname">Diya Patel(24DEV069)</p>
    <p id="task">Login</p>

    <form action="/main/tasks" method="post">
        <div class="container">
            <br>
            <label for="name">User Name</label><br>
            <input type="text" name="name" id="name" placeholder="Enter Name"><br>
            <span id="name_error"></span><br>

            <label for="password">Password</label><br>
            <input type="password" name="password" id="password" placeholder="Enter Passowrd"><br>
            <span id="password_error"></span><br>
            <span id="error"></span><br>
            <input type="submit" value="Sign In" id="btn" >
        </div>  

        <div class="forgotpassword">
            <a href="/main/forgotpassword">Forgot Password?</a>
        </div>
        <div class="signup">
            <p>Have not registered? <a href="/main/registration">Sign up</a>.</p>
        </div>
    </form>
    <script>
        
    </script>
</body>

</html>