<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .container{
           max-width: 1140px;
           margin: 0 auto;
            margin-top: 100px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">Diya Patel(24DEV069)</h1>
    <div class="container">
        <label for="task1">Task1: </label><a href="show">Task1</a><br><br>
        <label for="task2">Task2: </label><a href="showtask2">Task2</a><br><br>
        <label for="task3">Task3: </label><a href="showtask3">Task3</a>
    </div>
</body>
</html>