<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      
        td{
            padding: 20px;
        }
        table{
            text-align: center;
            justify-content: center;
            margin: 60px auto;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center; margin-top: 50px;">Diya Patel(24DEV069)</h1>
    <div class="container">
        <table border="1">
            <tr>
                <td>Dynamic Table</td>
                <td><a href="show">Task1</a></td>
            </tr>
            <tr>
                <td>Kuku Cube</td>
                <td><a href="showtask2">Task2</a></td>
            </tr>
            <tr>
                <td>Tic-Tac-Toe</td>
                <td><a href="showtask3">Task3</a></td>
            </tr>
            <tr>
                <td>Pagination & Sorting</td>
                <td><a href="showspecificuser/1">Task4</a></td>
            </tr>
        </table>
        
    </div>
</body>
</html>